.topButtonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.composeButton {
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: bisque;
}

.logOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: grey;
    width: 100px;
    height: 25px;
    margin-right: 10px;
}

.dashboardHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid bisque 1px;
    color: gray;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popupFormContainer {
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 20px 20px 0 0;
    z-index: 9;
    background-color: whitesmoke;
    padding: 20px;
}

.popUpForm {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.popUpDefaultInput {
    border: none;
    margin-left: 5px;
}

input:disabled {
    background-color: rgba(0, 0, 0, 0) !important;
}

.popUpInputs {
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: medium;
    color: gray;
    margin-top: 5px;
}

.popUpArea {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: medium;
    color: gray;
    margin-top: 15px;
    resize: none;
}

.popUpFormControlButtonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

#emailsSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
    color: gray;
}

.emailsTable {
    width: 88%;
    margin: 6%;
}

.emailsHeaderContainer {
    text-align: center;
    background-color: grey;
    height: 10vh;
    color: white;
    font-size: 16px;
}

.emailHeaders {
    margin-bottom: 10px;
    width: 25%;
    border: solid white 2px;
}

.emailListContainer {
    text-align: center;
    background-color: bisque;
    height: 10vh;
    color:black;
    font-size: 14px;
}

.emailData {
    margin-bottom: 10px;
    width: 25%;
    border: solid white 2px;
}

.popup-content {
    width: 300px !important;
    height: 300px !important;
    border-radius: 10px !important;
    background: white !important;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}


.spinnerContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}