@import url('https://fonts.googleapis.com/css2?family=Quicksand');

* {

  font-family: "Quicksand";
}


*:focus {
  outline: 0 !important;
}


.App {
  text-align: center;
}


#link {

  text-decoration: none;
}

::placeholder {

  font-size: medium;
}


label {

  color: gray;
}