.homeContainer {
    background-image: url("/img/Background.png");
    width: 100%;
    height: 100%;
}

.homeTopHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

#homeFirstHeader, #homeSecondHeader {
    color: white;
}


#homeSecondHeader {
    padding-top: 30px;
}


#spanInSecondHeader {
    background-color: red;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}