.notFoundcontainer {
    background-color: #95c2de;
    height: 100vh;
}

.mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 18%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95c2de;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .mainbox {
        background-color: #95c2de;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .err {
        color: #ffffff;
        font-size: 11rem;
        position: absolute;
        left: 0%;
        top: 0%;
    }
    .far {
        position: absolute;
        font-size: 8.5rem;
        left: 30%;
        top: 10%;
        color: #ffffff;
    }
    .err2 {
        color: #ffffff;
        font-size: 11rem;
        position: absolute;
        left: 68%;
        top: 0%;
    }
    .msg {
        text-align: center;
        font-size: 1.6rem;
        position: absolute;
        left: 16%;
        top: 35%;
        width: 75%;
    }
    .homeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #95c2de;
        width: 100%;
    }
}